.form {
    border: 1px solid green;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.form__title {
    display: block;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}

.form-group {
    width: 95%;
    margin: 10px auto;
}

.form__btn {
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}

.form__btn-item {
    width: 40%;
}