.form {
    border: 1px solid green;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
}

.form__title {
    display: block;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 24px;
    font-weight: bold;
}

.form__input {
    display: block;
    border: 2px solid green;
    border-radius: 8px;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
}

.form__btn {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: space-around;
}

.btn {
    display: block;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
    line-height: 40px;
    border: 2px solid green;
    border-radius: 8px;
    background-color: #fff;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    background-color: green;
    color: #fff;
}