.linkToUserProfile {
    display: block;
    border: 2px solid green;
    border-radius: 8px;
    padding: 10px;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: green;
    transition: 0.5s;
}

.linkToUserProfile:hover {
    background-color: green;
    color: white;
}