.header {
    padding: 20px;
    border-bottom: 1px solid green;
    box-shadow: 0px 5px 10px 0px rgba(0, 128, 0, 1);
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__logo-container {
    max-width: 100px;;
}

.header__logo {
    width: 100%;
}

.header__title {
    text-align: center;
    color: green;    
}

.header__title h1 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
}

.header__title span {
    font-size: 24px;
}

.header__loggoned-user {
    overflow: hidden;
}
