.header {
    width: 100%;
    background-color: white;
}

.header__logo {
    width: 80%;
}

.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo__img {
    max-width: 40px;
}


.logo__title {
    width: 70%;
    overflow: hidden;
    text-align: center;
    color: green;
}

.dropdown-menu {
    min-width: 5rem;
}